@font-face {
    font-family: CustomFont; /* Name your font */
    src: url('./ProductSans-Light.ttf'); /* Path to your font file */
  }
* {
    margin: 0px;
    padding: 0px;
}

body{
  overflow-x: hidden;
  scroll-snap-stop: always !important;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: CustomFont;
    letter-spacing: 1px
}

.intro{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}


.logo-left{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right; 
    align-items: center;

}
.logo-right{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex; 
    align-items: center;

}

img{
    width: 250px;
}

.transition {
    transition: all 1s ease-in; /* Change transition properties as needed */
}

.card-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #FF0000;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 99999;
    transition: .1s;
}

.nav-logo{
    display: flex;
    flex: 1 1 auto;
    text-align: Left;
    align-items: center;
    color: gray; 
}

.nav-name{
    font-size: 150%;
}

.nav-name p {
    font-size: 80%;
}

.nav-contents{
    display: flex;
    justify-content: right;
    gap: 7rem;
    align-items: center;
    margin-right: 50px;
    font-size: 140%;
    font-weight: 600;
    color: black;
}

.nav-items a:hover{
    color: #4285F4;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #4285F4;
}

nav.sticky{
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
    backdrop-filter: blur(5px);
    height: 100px;
    border-bottom: 1px solid #dcdcdc;
    transition: .1s;
}
section {
    position: relative;
    /* padding-top: 18vh; */
    height: 95vh;
    /* margin: 2rem 10rem; */
    box-sizing: border-box;
    max-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

#aboutNew{
  display: none;
}

#home{
    padding-top: 18vh;
}
.bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    display: flex;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .voice{
    width: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    margin-left: 10px;
  }

.result{
    margin:0 auto;
    margin-top: 15px;
    width:540px;
    color: grey;
}


.home-content{
    display: flex;
    margin-top: 50px;
}

.home-img{
    width: 400px;
    margin-left: 100px;
}

.home-text{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.web-name{
    font-size: 400%;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 4rem;
}

.icon-item{
    width: 40px;
    cursor: pointer;
}



.stack-area {
  width: 100%;
  height: 300vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.right-content,
.left-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-basis: 50%;
}
.cards-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-element {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 6mm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease-in-out;
}
.card-element:nth-child(1) {
  background: rgb(64, 122, 255);
  z-index: 4;
}
.card-element:nth-child(2) {
  background: rgb(221, 62, 88);
  z-index: 3;
}
.card-element:nth-child(3) {
  background: rgb(186, 113, 245);
  z-index: 2;
}
.card-element:nth-child(4) {
  background: rgb(247, 92, 208);
  z-index: 1;
}
.sub {
  font-family: poppins;
  font-size: 20px;
  font-weight: 700;
}
.content {
  font-family: poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
.card-element.active {
  transform-origin: bottom left;
}
.left-content {
  align-items: center;
  flex-direction: column;
}
.title {
  width: 420px;
  font-size: 500%;
  font-weight: 900;
}
.sub-title {
  width: 420px;
  font-family: poppins;
  font-size: 14px;
  margin-top: 30px;
}
.sub-title button {
  font-family: poppins;
  font-size: 14px;
  padding: 15px 30px;
  background: black;
  color: white;
  border-radius: 8mm;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.top,
.bottom {
  width: 100%;
  height: 100vh;
  font-family: poppins;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.card-photo {
/* clear and add new css */
  transform: scale(0.3) translate(220px, 230px);
  width: 350px;
  height: 350px;
  margin-left: -125px;
  margin-top: -125px;
  border-radius: 30px;
  /* border: solid; */
  overflow: hidden;
  transition: 0.3s;
}

.card-photo img{
  width: 100%; /* Make the image width 100% of the container */
  height: auto; /* Auto adjust the height to maintain aspect ratio */
  display: block;
}


.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.card-element:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  transform: translateY(-5px);
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.8) translate(80px, 20px);
}

.bottom {
  width: 100%;
  height: 100vh;
  font-size: 70px;
}
.row1{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow-x: scroll;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.row1-top, .row1-down,.row1-top1,.row1-down1{
  min-width:max-content;
  display: flex;
  gap: 12rem;
  /* animation: 10s slide infinite linear; */
}


.row1-top{
  padding-left: 12rem;
  animation: slide 40s linear infinite;
  animation-delay: -20s;
}

.row1-top1{
  padding-right: 12rem;
  animation: slide2 40s linear infinite;
  /* animation-delay: 10s; */
}

.row1-down{
  padding-left: 12rem;
  animation: slide 40s linear infinite;
  animation-delay: -20s;
}

.row1-down1{
  padding-right: 12rem; 
  animation: slide2 40s linear infinite;
  /* animation-delay: -25s; */
}



.row1-top{
  margin-bottom: 75px;
}
.row1-down,.row1-down1{
  margin-top: 75px;
}

.row1:hover{
  animation-play-state: paused;
}

.middle-div{
  overflow:hidden;
  font-weight:bolder !important;
  margin: 10px;
  position: absolute;
  align-self: center;
  transform: translateY(215px);
}


.card-2 {
  height:220px;
  width:220px;
  border-radius:50%;
  background-color:#000;
  position:relative;
  cursor:pointer;
  border:none;
  outline:none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-2 h5{
  font-size:25px;
  font-weight: bold;
  margin-top:60px;
  color:white;
}
.card-2 p{
  font-size:12px;
  font-weight:700;
  color:white;
  text-align:center;
  /* position:absolute; */
  top:50px;
   width:100%;
height:100%;
margin-top:10px;
padding:20px;
box-sizing:border-box;
}
.card-2 img{
  width:100%;
  height:100%;
  /* z-index: 99999; */
  object-fit:cover; 
  transition:all 0.5s;
  transform-origin:95% 50% ;
  border-radius:50%;
  position:absolute;
}
.card-2:hover img{
  transform:rotate(-140deg);
}
.card-2 small{
  height:5px;
  width:5px;
  border-radius:50%;
  background-color:white;
  position:absolute;
  right:5px;
  top:110px;
  z-index:1000;
}

#events{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.events-top{
  /* border: solid; */
  width: 90%;
  height: 400px;
  border-radius: 100px;
  background: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
  /* background: linear-gradient(45deg, #4285F4, #3367D6, #4B7BEC, #0F9D58); */
  /* background:linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335); */
  background-size: 300% 300%;
  animation: gradient 4s ease infinite;
  display:flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.events-title{
  /* border: solid; */
  text-align: center;
  font-size: 500%;
  margin-bottom: 50px;
}


@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.events-card {
  --white: hsl(0, 0%, 83%);
  --black: hsl(240, 15%, 9%);
  --stone-300: hsl(24, 6%, 83%);
  --pink-500: hsl(299, 100%, 83%);

  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-card {
  display: flex;
  align-items: center;

  padding: 0.75rem;
  min-width: 11.5rem;
  height: 2.25rem;
  background-color: var(--stone-300);
}
.sub-card.category {
  justify-content: space-between;

  border-radius: 0.5rem 0.5rem 0rem 0rem;

  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.sub-card.named {
  justify-content: center;

  border-radius: 0rem 0rem 0.5rem 0.5rem;

  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.events-card:hover .sub-card.category {
  transform: translateY(100%);
}
.events-card:hover .sub-card.named {
  transform: translateY(-100%);
}

.sub-card .text_span {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}

.sub-card .icon_svg {
  width: 1rem;
  fill: var(--black);
}

.card_container {
  overflow: hidden;

  position: relative;
  z-index: 5;

  /* width: 17rem; */
  height: 14rem;
  /* background-color: var(--pink-500); */

  border-radius: 0.5rem;
}
.card_container::before {
  content: "";

  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0rem;
  aspect-ratio: 1;
  background-color: hsl(240, 15%, 9%, 0.2);

  border-radius: 50%;
  transform-origin: center;

  transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.card_container::after {
  content: "See more";

  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0rem;
  box-sizing: border-box;
  width: 0rem;
  aspect-ratio: 1;
  background-color: hsl(240, 50%, 9%, 0.5);

  font-size: 0rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;

  border-radius: 50%;
  transform-origin: center;

  transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
}

.events-card:hover .card_container::before {
  width: 22.5rem;

  transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
}
.events-card:hover .card_container::after {
  padding: 1rem;
  width: 5rem;

  font-size: 0.75rem;
  transition: all 0.3s ease-in-out 0.4s;
}

.card_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* width: 3rem; */
  fill: var(--black);
}
#events{
  height: max-content;
}
.timeline{
  font-size: 500%;
  margin-top: 100px;
  margin-bottom: 0px;
}
.events-bottom{
  display: flex;
  margin-top: 100px;
  height: 1000px;
}
.left-events{
  /* border: solid; */
  display: flex;
  flex-direction: column;
  width: 500px;
  /* height: 1000px; */
  margin-right: 100px;
  gap: 500px;
  align-items: flex-end;
}
.vertical-line{
  border: solid;
  color: #FF0000;
  height: 1800px;
}
.right-events{
  display: flex;
  flex-direction: column;
  gap: 500px;
  padding-top: 400px;
  width: 500px;
  margin-left: 100px;
}

.article-wrapper {
  width: 500px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
  border: solid;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
 /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 2em;
  margin: 0;
  font-weight: 600;
 /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  /* background: gray; */
  overflow: hidden;
  object-fit: contain;
  display: flex;
  justify-content: center;
  /* border: solid; */
  /* transform: translateX(150px); */
}


#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}

.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: none;
}

.hamburger-icon span:first-child {
  transform: none;
}
/* @media screen and (max-width: 1400px) { */
